<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Do_an_sem_2</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">123456$</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="bkap.entities.Account_Roles" />
		<mapping class="bkap.entities.Accounts" />
		<mapping class="bkap.entities.Blogs" />
		<mapping class="bkap.entities.Brands" />
		<mapping class="bkap.entities.Carts" />
		<mapping class="bkap.entities.Categories" />
		<mapping class="bkap.entities.Configs" />
		<mapping class="bkap.entities.Contacts" />
		<mapping class="bkap.entities.OrderDetails" />
		<mapping class="bkap.entities.Orders" />
		<mapping class="bkap.entities.Products_images" />
		<mapping class="bkap.entities.Products" />
		<mapping class="bkap.entities.Reviews" />
		<mapping class="bkap.entities.Roles" />
	</session-factory>
</hibernate-configuration>
